.contador-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  font-family: Arial, sans-serif;
}

.icone-genero {
  margin-bottom: 0em;
}

.contador-quantidade {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.2em 0em;
  font-size: 1.5em;
  text-align: center;
  user-select: none;
  min-width: 90px;
}

.botoes {
  display: flex;
  gap: 0.4em;
  justify-content: center;
}

.botoes div{
    padding: 0px;
    cursor: pointer;
}